@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
}

/*Logo do site*/
/*.................................................*/
.LogoDoSite {
    display: flex;
    width: 100%;
    cursor: default;
}

.TituloDaLogo {
    font-size: 150%;
    padding: 5%;
    display: grid;
}

.IconeDaLogo {
    font-size: 140%;
    display: grid;
    color: #d19c97;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 5%;
    border: #edf1ff solid 0.2rem;
}


/*Robinson*/
/*.................................................*/
/*cabeçalho*/
header {
    background-color: #edf1ff;
    margin: 0px;
}

#Cabecalho {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}

#Cabecalho p {
    cursor: pointer;
}

.RedesSociais {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RedesSociais img {
    cursor: pointer;
    padding: 0 5%;
    display: block;
    height: 20px;
    width: 20px;
}

/*Tela inicial*/

#Robinson-cima {
    width: 100%;
    display: flex;
}

#Robinson-baixo {
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}

/*Parte de cima da pagina inicial*/
#Robinson-esquerda {
    width: 30%;
}

#Robinson-direita {
    width: 70%;
    padding-left: 5%;
}

/*.................................................*/
/*Parte esquerda da Tela inicial*/
#MenuDeOpcoes {
    display: grid;
}

.Secao {
    padding: 5%;
    display: grid;
    font-weight: 600;
    font-style: normal;
    color: black;
    text-decoration: none;
}

.Secao:hover {
    cursor: pointer;
}

.Opcao a {
    border-left: #edf1ff solid 1px;
    border-right: #edf1ff solid 1px;
    border-bottom: #edf1ff solid 1px;
    padding: 5%;
    display: grid;
    font-weight: 600;
    font-style: normal;
    color: black;
    text-decoration: none;
}

.Opcao a:hover {
    cursor: default;
    background: rgb(61, 61, 61);
    color: #edf1ff;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+.Secao {
    background-color: #d19c97;
}


#MenuDeOpcoes input[type="radio"]+.Opcao {
    display: none;
}

#MenuDeOpcoes input[type="radio"]:checked+label+.Opcao {
    display: block;
}


#cat1:checked~#MenuDeOpcoes .Opcao:nth-of-type(1) {
    display: block;
}

#cat2:checked~#MenuDeOpcoes .Opcao:nth-of-type(2) {
    display: block;
}

#MenuDeOpcoes .Opcao {
    display: none;
}

#cat2:checked~#MenuDeOpcoes .Opcao:nth-of-type(1) {
    display: none;
}

#cat1:checked~#MenuDeOpcoes .Opcao:nth-of-type(2) {
    display: none;
}

/*.................................................*/
/*Parte direita da Tela inicial*/

/*Barra de Pesquisa (não sei fazer)*/
.Robinson-pesquisa{
    display: grid;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20px; 
}

.barra1 {
    width: 60%; 
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.botao1 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: none; 
    border-radius: 0 4px 4px 0; 
    cursor: pointer;
}

.botao1:hover {
    background: rgb(61, 61, 61);
    color: #edf1ff;
}


/*Barra de navegação*/
#MenuDeBusca {
    text-decoration: none;
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
}

#MenuDeBusca a {
    padding-right: 5%;
    color: black;
    text-decoration: none;
}

#MenuDeBusca img {
    width: 15px;
    align-content: space-between;
}

#MenuDeBusca img:hover {
    cursor: pointer;
}

#Robinson-busca-esquerda {
    display: flex;
    width: 100%;
}

#Robinson-busca-direita {
    display: flex;
    padding-right: 5%;
}

/*Imagem de apresentação*/
#ImagemDeApresentacao {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    display: grid;
    align-items: center;
}

#GaleriaDeApresentacao {
    padding: 10% 0;
    color: #edf1ff;
    padding: 0 15%;
    margin: 15% 0;
}

#GaleriaDeApresentacao h2 {
    justify-content: center;
    display: grid;
    color: #edf1ff;
}

#AlterarFoto {
    display: grid;
    justify-content: center;
}

#TituloDaGaleria {
    display: flex;
    align-items: center;
    align-content: space-between;
}

#TituloDaGaleria img {
    height: 50px;
    opacity: 50%;
}

#TituloDaGaleria img:hover {
    cursor: pointer;
}

#GaleriaDeApresentacao button {
    display: block;
    border: none;
    padding: 5% 10%;
    margin: 0 auto;
    border-radius: 0;
}

/*Parte de baixo da pagina inicial*/
.CartoesDeBeneficio {
    display: flex;
    cursor: pointer;
    border: #dbe0f0 solid 1px;
    align-items: center;
    font-weight: 600;
    padding: 2% 10%;
    text-align: justify;
    width: 10%;
}

.CartoesDeBeneficio img {
    height: 50px;
    padding-right: 15%;
    
}

/*Letícia*/
/*.................................................*/
.plinha{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.slinha{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#prod{
    text-align: right;
    color: rgb(104, 99, 99);
}
.imgLet {
      width: 100%;
}




/*Luana*/
/*.................................................*/
.imgLuana {
    width: 300px;
}

#pLuana{
    text-align: center;
    font-size: 16px 19.2%;
    padding: 100px;
}

.pLuana{
    text-align: center;
    font-size: 16px 19.2%;
    padding: -100px;
    
}

.tituloLuana{
    text-align: center;
    font-size: 24px 28.8px;

}

.diviZao2{
    text-align: center;
}

.diviZao2 {
    background-color: #edf1ff;
}
 .imgLuana2{
    display: flex;
    padding-left: 15%;
 }

.linha2{
    flex-direction: row;
}

.colStayUpdated {
    background-color: #edf1ff;
}

#diviZao3 {
    text-align: center;
    background-color: #edf1ff;
}

.btn{
    background-color: #d19c97;
}

table{
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

/*Bryan*/
footer {
    display: flex;
    background-color: #dbe0f0;
}

#Bryan-Direita{
   
    width: 50%;
}

#Bryan-links1{
    padding-top: 10%;
    padding-left: 5%;
    width: 25%;
}

#Bryan-links2{
    padding-top: 10%;
    padding-left: 5%;
    width: 25%;
}
#Bryan-paragrafo{
    color: rgb(60, 58, 58);
    padding-left: 14%;
}

.Bryan-icons{
    padding: 5px;
    width: 15%;
    height: 15%;
}

.Bryan-botao{
    
    font-size: 100%;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    display: flex;
    color: rgb(60, 58, 58);
}

#Bryan-contato{
   
    color: rgb(92, 92, 92);
    padding-left: 9%;
    display: grid;
    margin-left: 4%;
    margin-right: 10%;
    align-items: center;
}

#Bryan-Newsletter{
    padding-top: 10%;
    padding-left: 4%;
}

#Bryan-bt{
    width: 71%;
    margin-top: 4%;
    background-color: #d19c97;
}

#Bryan-nome{
    width: 68%;
    margin-bottom: 4%;
}

#Bryan-email{
    width: 68%;
    align-content: center;
}


